body h1, .destacado__txt h2, .nosotros h2, .michis__ttl, .card-body h3, .servicios__desc h2, .carrusel__ttl {
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  color: #151515;
  text-shadow: 2px 2px #22222229; }

* {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%;
  scroll-behavior: smooth; }

body {
  background-color: #f6d4d2; }
  body a {
    text-decoration: none;
    color: #222222; }
    body a:hover {
      color: #222222; }
  body h1 {
    margin-top: 15px;
    text-align: center; }
  body main {
    font-family: "Comfortaa", sans-serif;
    color: #222222;
    min-height: 100vh;
    margin: auto;
    margin-bottom: 15px; }
    body main a:hover {
      font-weight: 900;
      font-style: italic; }

@media only screen and (min-width: 768px) {
  .main {
    margin: auto; } }

.barraNav {
  position: sticky;
  top: 0;
  z-index: 10; }

.navbar {
  background-color: #4cdde9;
  background-image: url("../imagenes/navbg.webp");
  margin-bottom: 15px; }
  .navbar__logo {
    height: 75px; }
  .navbar .nav-link {
    display: flex;
    align-items: center;
    height: 30px;
    font-family: "Varela Round", sans-serif;
    transition: all 0.5s; }
    .navbar .nav-link:hover {
      padding-left: 15px;
      background-color: #f6d4d2a0; }

@media only screen and (min-width: 768px) {
  .barraNav__barra {
    flex-direction: column; }
  .navbar {
    padding: 0; }
    .navbar__logo {
      height: 100px;
      margin: auto;
      opacity: 65%;
      transition: all 0.3s; }
      .navbar__logo:hover {
        opacity: 100%;
        animation: logo 1.5s ease-in-out reverse forwards; }
  @keyframes logo {
    0% {
      transform: scale(0.75); } }
    .navbar-nav {
      width: 60vw;
      margin: auto;
      justify-content: space-evenly; }
    .navbar .nav-item {
      text-align: center;
      transition: all 0.5s; }
      .navbar .nav-item:hover {
        background-color: #f6d4d2;
        padding: 0 5%;
        font-weight: 500; }
      .navbar .nav-item .active {
        background-color: #f6d4d2; } }

.footer {
  height: 75px;
  width: 100%;
  background-image: linear-gradient(#f6d4d2, #4cdde9); }
  .footer__lista {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75px;
    margin-left: 15px;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    list-style: none; }
    .footer__lista li {
      padding: 0.15%;
      transition: all 0.5s; }
      .footer__lista li:hover {
        margin-left: 15px;
        color: #222222; }

@media only screen and (min-width: 768px) {
  .footer {
    height: 115px; }
    .footer__lista {
      height: 115px; } }

.destacado {
  margin: auto;
  margin-bottom: 15px; }
  .destacado__img {
    box-shadow: 2px 2px 2px 1px #22222229;
    border-radius: 1%; }
  .destacado__txt {
    margin-top: 10px; }
    .destacado__txt h2 {
      font-size: calc(1.3rem + .6vw); }

@media only screen and (min-width: 768px) {
  .destacado {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px auto;
    width: 100%; }
    .destacado__img {
      animation: destacadoIMG 1.5s ease-in-out; }
    .destacado__txt {
      margin-left: 15px;
      margin-top: 0;
      animation: destacadoTXT 1.5s ease-in-out; }
  .destacado.dos {
    flex-direction: row-reverse; }
    .destacado.dos .destacado__txt {
      text-align: right;
      margin-right: 15px;
      margin-left: 0;
      animation: destacadoTXT 1.5s ease-in-out; }
  @keyframes destacadoIMG {
    0% {
      transform: translateX(50%);
      opacity: 25%; } }
  @keyframes destacadoTXT {
    0% {
      transform: translateX(-50%);
      opacity: 0%; } } }

.nosotros {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .nosotros__card {
    margin: 10px 0; }
  .nosotros__img {
    width: 125px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px 1px #22222229;
    border-radius: 50%; }

#michis {
  margin-top: -130px;
  padding-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.michis__ttl {
  text-align: center; }

.michis__img {
  box-shadow: 2px 2px 2px 1px #22222229;
  border-radius: 50%;
  margin-bottom: -5px; }

.card {
  background-color: transparent;
  border: none;
  text-align: center; }
  .card-body h3 {
    font-size: calc(1.275rem + .3vw);
    margin-bottom: 0; }

@media only screen and (min-width: 768px) {
  .nosotros__img {
    width: 175px; } }

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin: auto;
  margin-top: 15px; }
  .servicios__img {
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 1px #22222229;
    border-radius: 1%; }
  .servicios__desc p {
    margin-top: 15px; }
  .servicios__desc h2 {
    font-size: calc(1.3rem + .6vw); }
  .servicios span {
    font-size: 18px;
    font-weight: bold; }

@media only screen and (min-width: 768px) {
  .servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px auto;
    width: 100%;
    text-align: left; }
    .servicios__img {
      margin-right: 15px; } }

.carrusel__ttl {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px; }

.carousel-inner {
  box-shadow: 2px 2px 2px 1px #22222229;
  border-radius: 3%; }

@media only screen and (min-width: 768px) {
  .galeria {
    justify-content: space-evenly; }
  .carrusel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 375px;
    width: 275px; }
    .carrusel__ttl {
      padding-bottom: 10px;
      margin-bottom: 0; }
      .carrusel__ttl .capping {
        padding-top: 12px;
        padding-bottom: 36px; } }

.contacto ul {
  padding: 0; }

.contacto li {
  list-style: none; }

.contacto__img {
  box-shadow: 2px 2px 2px 1px #22222229;
  border-radius: 2%;
  margin-bottom: 10px; }

.form {
  box-shadow: 2px 2px 2px 1px #22222229;
  border-radius: 1%;
  background-color: #4cdde9;
  border: solid 1px #222222;
  padding-bottom: 10px; }
  .form__input {
    width: 95%;
    margin: auto; }
    .form__input p {
      text-align: center;
      margin-bottom: 5px; }
  .form__radio {
    margin-right: 5px; }

#radio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.btn {
  margin-left: 10px;
  background-color: #f6d4d2a0;
  border: solid 1px #222222;
  color: #222222;
  font-weight: bold; }
  .btn-primary:hover {
    background-color: #f6d4d2;
    border: solid 1px #222222;
    color: #151515; }

@media only screen and (min-width: 768px) {
  #contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; } }

.notFound {
  align-items: center;
  height: 75vh; }
  .notFound__img {
    width: 50%; }
  .notFound__txt {
    font-size: calc(1.3rem + .6vw);
    font-weight: 700; }
