.footer{
    height: 75px;
    width: 100%;
    background-image: map-get($colores, gradiente);
    &__lista{
        @include flex(column, space-evenly);
        height: 75px;
        margin-left: 15px;
        padding: 0;
        font-family: map-get($tipografias, titulos);
        list-style: none;
        li{
            padding: 0.15%;
            transition: all 0.5s;
            &:hover{
                margin-left: 15px;
                color: map-get($colores, textos);
            }
        }
    }
}

@media only screen and (min-width: 768px){
    .footer{
        height: 115px;
        &__lista{
            height: 115px;
        }
    }
}
