.nosotros{
    @include flex(column, flex-start);
    h2{
        @extend %encabezados;
    }
    &__card{
        margin: 10px 0;
    }
    &__img{
        width: 125px;
        margin-right: 10px;
        @include img (50%)
    }
}
#michis{
    margin-top: -130px;
    padding-top: 130px;
    @include flex(row, space-evenly);
}
.michis{
    &__ttl{
        @extend %encabezados;
        text-align: center;
    };
    &__img{
        @include img (50%);
        margin-bottom: -5px;
    }
}
.card{
    background-color: transparent;
    border: none;
    text-align: center;
    &-body h3{
        @extend %encabezados;
        font-size: calc(1.275rem + .3vw);
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px){
    .nosotros__img{
        width: 175px;
    }
}