.servicios{
    @include flex(column, flex-start);
    text-align: center;
    margin: auto;
    margin-top: 15px;
    &__img{
        margin-bottom: 10px;
        @include img (1%)
    };
    &__desc{
        p{
            margin-top: 15px;
        }
        h2{
            @extend %encabezados;
            font-size: calc(1.3rem + .6vw);
        }
    };     
    span{
        font-size: 18px;
        font-weight: bold;
    }
}

@media only screen and (min-width:768px){
    .servicios{
        @include flex(row, space-evenly);
        margin: 15px auto;
        width: 100%;;
        text-align: left;
        &__img{
            margin-right: 15px;
        }
    }
}