/* Colores */
$principal: #4cdde9;
$secundario: #f6d4d2;
$textos: #222222;
$encabezados: #252525;

/* Tipografías */
$titulos: 'Varela Round', sans-serif;
$cuerpo: 'Comfortaa', sans-serif;

/* Sombras */
$sombreado-texto: 2px 2px #22222229;
$sombreado-imagen: 2px 2px 2px 1px #22222229;